html, body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(243, 243, 243);
}

* {
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: max(50%, 260px);
    margin: auto;
    margin-top: 16px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.card > * {
    flex: 0 1 auto;
    margin: 16px;
}

.main {
    margin-top: 100px;
    margin-bottom: 32px;
}

.card > span {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card > .link {
    flex: 1 1 auto;
    display: flex;
}

.card > .link > button {
    flex: 0 1 auto;
    height: 34px;
}

.card > .link > input {
    flex: 1 1 auto;
    height: 34px;
}

.ta-center {
    text-align: center;
}